body {
    background-color: black;
}

* {
    margin: 0px;
    font-family: Helvetica, sans-serif;

}

ul li img {
    width: 20px;
}

.sp-logo{
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    gap: 20px;
    padding: 10px;

}

div ul {
    margin: 8px -28px;
}

.lib ul {
    gap: 40px;
}

.tit {
    padding: 10px;
}

.invert {
    filter: invert(1);
}

.sp-parent {
    flex-direction: column;
    width: 16.5vw;
    height: 100%;
    margin: 0.5rem 0 0.5rem 0.5rem;
    color: aliceblue;

}

.sp {
    background-color: rgb(18, 18, 18);
    border-radius: 6px;
    overflow: hidden;

}

.home {
    height: 20vh;
    margin-bottom: 0.5rem;

}

.lib,
.lib image {
    height:75.7vh;
    color: gray;
}

.db {
    color: aliceblue;
    width: 82vw;
    background-color: rgb(18, 18, 18);
    margin: 0.5rem;
    height: 97vh;
    border-radius: 6px;
    position: relative;
}

.lib li:hover {
    color: white;
}

.Scroll {
    max-height: 210px;
    
    overflow: hidden;
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    width: 16vw;
}

.Scroll>span>button{
    border-radius: 20px;
    font-weight: bold;
    border: none;
    max-width: 9vw;
    padding: 9px;
    
    
}
.Scroll>div{
    padding: 10px;
}


.lang {
    height: 2.5vh;
    filter: invert(100%);
}

.lang-b {
    display: flex;
    justify-content: space-around;

    align-content: center;
    flex-wrap: wrap;
    padding: 8px;

    background:transparent;
    border: 0.2px solid grey;
    border-radius: 20px;
    color: aliceblue;
    width: 100px;
    height: 30px;
    line-height: 19px;
    font-weight: bold;
    margin: 47px 0px;
    position: absolute;
    bottom: -43px;
    left: -10px;
}
footer {
    position: fixed;
    bottom: 33px;
    height: 10vh;
    left: 40px;}

.cook{
    color: grey;
    text-decoration: none;
    
    
    font-size: 14px;
}
.dash_up{
    display: flex;
    justify-content: space-between;
    padding: 21px;
    position: relative;
    background-color: rgb(18, 18, 18);
    z-index: 1;
}

.left_arrow,.right_arrow{
    height: 17px;
    filter: invert(100);
}
.right_arrow_button, .left_arrow_button{
    height: 4vh;
    background: black;
    border: 0px;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;   

}
.dash_up:first-child div{
gap: 8px;
display: flex;
}
.signup,.login{
    font-weight: 600;
    font-size: 15px;
    border-radius: 29px;
    padding: 14px 30px;
    position: relative;
    top: -16.5px;
    
}
.signup{
    background-color: transparent;
    border: 0px;
    color:grey;
    padding-right: 2px;
}
.signup:hover{
    color: rgb(238, 238, 238);
    font-size: 15.7px;
    transition: 0.5s;

}
.playlist{
    padding: 30px;
    height: 11vh;
    background-color: rgba(176, 176, 176, 0.188);
    Margin: 10px;
    border-radius: 10px;
    width: 11.5vw;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    /* position: initial; */
    justify-content: center;
}

.Scroll:hover , .dash_down:hover{
    overflow-y: scroll;
   /* position: absolute; */
   z-index: 2;
   
  }

  /* Track */
.Scroll::-webkit-scrollbar {
    background: transparent; 
    
  }
   
  /* Handle */
  .Scroll::-webkit-scrollbar-thumb {
    background: #88888866; 
  }

  .Scroll::-webkit-scrollbar-thumb:hover {
    background: #868686c9; 
  }
  .Scroll::-webkit-scrollbar-thumb:active { 
    background-color: #d2d2d2c9;
}  

.footer {
    height: 170px;
    width: 200px;
}

.links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px 20px;
    
}
.cook{
    font-size: 10px;
}

.dash_down{
    height: 97vh;
    overflow:hidden;
    position: absolute;
    left:17px;
    right:0px;
    top: 0px
    
    
}

.dash_down_element{
    height: 330px;
    font-size: 20px;
    font-weight: bold;
}


.upper_space{
    position: relative;
    top:91px;
}

.db-footer-links-box{
    display: flex;
    gap: 150px;
}

.db-footer-links{
    text-decoration: none;
      color: rgb(157, 157, 157);
      list-style: none;
      font-weight:600;
      font-size: 14px;
      list-style: none;
      margin-bottom: 10px;
      
}
 .db-footer-links-head{
    list-style: none;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
 }

.db-footer-links:hover{
    color: aliceblue;
    text-decoration-line: underline;

    
}

.db-footer-button{
    height: 20px;

}
.insta{
filter: invert(1);
width: 10px;
}